name: pre-commit

on: [ push, pull_request ]

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v2
    - uses: actions-rs/toolchain@v1
      with:
          toolchain: stable
          components: rustfmt, clippy
    - uses: pre-commit/action@v2.0.0
