name: Rust

on: [ push, pull_request ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust: [stable, nightly]

    steps:
    - uses: actions/checkout@v4

    - name: Install Rust toolchain
      uses: dtolnay/rust-toolchain@stable
      with:
        toolchain: ${{ matrix.rust }}

    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
    - name: Run tests with nightly feature
      if: matrix.rust == 'nightly'
      run: cargo test --verbose --features nightly
    - name: Run tests with zeroize
      run: cargo test --verbose --features zeroize
    - name: Run tests with use-unsafe
      run: cargo test --verbose --features use-unsafe
    - name: Run tests with all features
      run: cargo test --verbose --all-features
